nav, .navbar-default {
  background-color: #E74C3C !important;
  border: 0 !important;
  border-radius: 0 !important;
}

#navbar-main-collapse {
  border:0 !important;
}


/* ##################################################

              GENERAL STYLES

################################################## */

* {
  background-image: none !important;
}

div#preloader {
  text-align:center;
  z-index:9999;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(255,255,255,1)
  url('https://i.stack.imgur.com/h6viz.gif') no-repeat center center !important;
}

.btn__disabled{
  pointer-events: none;
  color: #ddd !important;
  background-color: #eee !important;
}

/* ##################################################

              APPSTORE/PLUGIN STYLES

################################################## */

/*# SETZT EINEN GELB/SCHWARZ GESTREIFTEN BANNER AM ENDE EINES PLUGINS #*/
.lssm_Module_develop .panel-footer {
  background: repeating-linear-gradient(
          45deg,
          rgba(255, 219, 27, 1),
          rgba(255, 219, 27, 1) 10px,
          rgba(74, 74, 74, 1) 10px,
          rgba(74, 74, 74, 1) 25px
  ) !important;
}

#lssm_appstore .panel-footer a, #lssm_appstore .panel-footer span {
  background-color: #f3ebee;
  color: #4a4a4a !important;
  padding: 5px;
  border-radius: 2px;

}

#lssm_appstore h4 {
  text-transform: uppercase;
  font-weight: 900;
}
.lssm_Module_develop label {
  display: none;
}


#lssm_appstore .panel{
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  display: inline-block;
}

#lssm_appstore .panel-default{
  border-color: #ddd;
  width: 40%
}

#lssm_appstore .panel-body{
  padding: 15px
}


#lssm_appstore  small {
  font-size: 85%
}
#lssm_appstore  h4{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}


#lssm_appstore_row {
  margin-top: 15px;
}

#lssm_appstore_row .jumbotron {
  background-color: #ddd;
  margin-bottom: 0 !important;
}

.username-link {
  color: white;
  text-decoration: none;
}

.username-link:hover {
  color: #ddd !important;
  text-decoration: none !important;
}

#lssm_appstore_settingsbar {
  width: 100%;
  border-radius: 0 0 7px 7px !important;
  margin-top: -5px;
  background-color: #4a4a4a !important;
  margin-bottom: 15px;
}

.lssm_appstore_settingsbar_div {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-grey {
  background-color: #afadb2 !important;
  border:none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: white;
}

.btn-grey:hover {
  background-color:#a2a0a5 !important;
  color: #eee !important;
}

#lss_clock {
  position: relative;
  z-index: 9998;
  color: #fff;
  float: right;
  margin: 10px;
  font-weight: 900;
}
#lss_clock + span:after {
  content: ':'
}

#lss_clock span {
  padding:3px;
  background-color: #212121;
}

#WachenplanungOnMap_settings {
  position: absolute !important;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.86);
  bottom: 0;
  left: 5px;
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding: 5px !important;
  border-radius: 0px 10px 10px 0px;
}


#lssm_radius_slider {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}

.lssm_wachen_selector {
  display: flex;
  margin: 2px;

}

.lssm_wachen_selector .onoffswitch {
  margin-right:5px;
}

.lssm_wachen_selector .onoffswitch  .onoffswitch-label:before {
  margin-top: -.5px !important;
  margin-bottom: 4.5px !important;+
right: 14.5px;
}

.label-ils {
  background-color: #5e5e5e !important;
}

.label-fw {
  background-color: #ff4b38 !important;
}


.label-rw {
  background-color: #f9ffb7 !important;
  color: #4a4a4a !important
}

.label-rhl {
  background-color: #e6f268 !important;
  color: #4a4a4a !important;
}

.label-seg{
  background-color: #cdd668 !important;
  color: #4a4a4a !important;
}

.label-pol {
  background-color: #1d9b1d !important;
}

.label-phl {
  background-color: #147014 !important;
}

.label-bp {
  background-color: #0e4f0e !important
}

.label-thw {
  background-color: #002aff !important;
}

.label-kh {
  background-color: #fff000 !important;
  color: #4a4a4a !important;
}

.label-wr {
  background-color: #009dff !important
}




/* ##################################################

              SWITCH STYLES

################################################## */


.onoffswitch{
  position:relative;
  width:30px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none
}
.onoffswitch-checkbox{
  display:none
}
.onoffswitch-label{
  display:block;
  overflow:hidden;
  cursor:pointer;
  height:15px;
  padding:0;
  line-height:15px;
  border:2px solid #CCC;
  border-radius:15px;
  background-color:#FFF;
  transition:background-color .3s ease-in
}
.onoffswitch-label:before{
  content:"";
  display:block !important;
  width:15px;
  margin:0;
  background:#FFF;
  position:absolute;
  top:0;
  bottom:0;
  right:13px;
  border:2px solid #CCC;
  border-radius:15px;
  transition:all .3s ease-in 0
}
.onoffswitch-checkbox:checked + .onoffswitch-label{
  background-color:#49E845
}
.onoffswitch-checkbox:checked + .onoffswitch-label,.onoffswitch-checkbox:checked + .onoffswitch-label:before{
  border-color:#49E845
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before{
  right:0
}



/* ##################################################

              CUSTOM STYLES

################################################## */



/*
map styles/filter

colerful Â» filter: saturate(2) contrast(.7) brightness(1.2);
nightmode Â» filter: saturate(.5) contrast(.5) brightness(1.2) invert();
vintage Â» filter: saturate(.5);
colors Â» filter: hue-rotate(90deg);


hue-rotate(20deg)contrast(.8) saturate(.5) invert();

colorful
#map{
  filter: saturate(2) contrast(.7) brightness(1.2);
}

  css fÃ¼r fms5 in map


*/

.lss_label {
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em
}

.lss_label-danger {
  background-color: #d9534f
}

#container_navbar_alarm {
  margin-bottom: 0px !important;
}


.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 4em;
  height: 2em;
  cursor: default;
  padding: 4px;
  border-radius: 10px;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.6em;
  margin-left: -.8em;
}

.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget.ui-widget-content {
  /* border: 1px solid #c5c5c5; */
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

  /* We use html here because we need a greater specificity to make sure disabled
  works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px;
}
